html, body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}



.card-container{
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);;
}

div.card-container:nth-of-type(1) {
    margin-bottom: 10px;
}

img.card {
    width: 100%;
}

#remaining-cards
{
    margin: 0;
    padding-top: 5px;
    display: inline;
    position: absolute;
    top: 0;
    left: 5em;
}

button:disabled{
    cursor: not-allowed;
}


h2{
    margin: 10px;
}




